* {
  font-family: 'Major Mono Display', monospace;
}

.typewriter p {
  overflow: hidden;
  border-right: .2em solid teal;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: teal; }
}

button {
  margin: 20px;
  background-color: black;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
