* {
  font-family: 'Major Mono Display', monospace;
  background-color: black;
  color: white;
}

button {
  margin: 30px;
  background-color: black;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 20px;
  align: right;
}

div {
  text-align: center;
}
